/2402.05809v3.pdf
/ALCHER MUSIC.xlsx
/applsci-13-10336.pdf
/archive (1).zip
/Art and Craft of Problem Solving 3E.pdf
/AryanK_submissioncsv.csv
/Bash
/book.pdf
/CLRS ( DSA ).pdf
/CP
/cpp.pdf
/Crater Dataset.zip
/desktop.ini
/DL Spec
/DOC-20240802-WA0090.pdf
/ejecta_train.zip
/FINAL450.xlsx
/Git-2.47.0.2-64-bit.exe
/Guide to Competitive Programming_ Learning and Improving Algorithms Through Contests ( PDFDrive ).pdf
/Hckathon (1)
/HUGGING FACE
/Image Segmentation
/img03_enlGAN.png
/Impacts and Benefits.txt
/Institutes in Lucknow (ALCHER 25').xlsx
/Joseph Gallian - Contemporary Abstract Algebra-Cengage Learning (2012).pdf
/joseph-gallian-solutions-manual-to-contemporary-abstract-algebra-2012.pdf
/Learning Algorithms Through Programming and Puzzle Solving ( PDFDrive ).pdf
/LRO_craters_v2.zip
/Lunar dataset-20240905T163309Z-001
/Lunar dataset-20240905T163309Z-001.zip
/mcs.pdf
/Microsoft Edge.lnk
/Moon Dataset
/Moon Dataset.zip
/none_train2.zip
/Object Detection YOLO.zip
/OK.zip
/output.png
/Pathway_HighPrep_InterIIT_TechMeet.pdf
/Random Variables
/SIH ( LoL Models ).txt
/SIH Model
/SUGGESTIONS.pdf
/Suggestios.txt
/Summer Analytics
/Summer_Analytics_Certificate.pdf
/TechCamp PS- ML.pdf
/Visual Studio Code.lnk
/WhatsApp - Shortcut.lnk